.iridescence-container {
  width: 100%;
  height: 100%;
  filter: grayscale(0.8);
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  position: relative;
}

.iridescence-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
}
